<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050814639521-h88sl4v279ak999d04imopesjshpgs1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050814639521-h88sl4v279ak999d04imopesjshpgs1b</string>
	<key>API_KEY</key>
	<string>AIzaSyD3cIhtk0OLO4A1AwY_OO6NCkiGzefURfk</string>
	<key>GCM_SENDER_ID</key>
	<string>1050814639521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Jstagram</string>
	<key>PROJECT_ID</key>
	<string>jstagram-50749</string>
	<key>STORAGE_BUCKET</key>
	<string>jstagram-50749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050814639521:ios:f1bdb0b73b746481366fe0</string>
</dict>
</plist>